<!-- <div class="modal" [ngClass]="{'is-active': addCategoryModalActive}">
    <div class="modal-background"></div>
    <div class="modal-content">

        <form class="box" [formGroup]="categoryFormGroup">
            <div class="row">
                <div class="col-xs-12 col-md-6 form-group">

                    <div class="field">
                        <label class="label is-small">name</label>
                        <div class="control">
                            <input class="input is-small" type="text" placeholder="Name" [formControlName]="'name'" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 form-group">

                    <div class="field">
                        <label class="label is-small">details</label>
                        <div class="control">
                            <input class="input is-small" type="text" placeholder=details
                                [formControlName]="'details'" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button type="button" class="button is-small is-link">
                        Submit
                    </button>
                </div>
                <div class="control">
                    <button type="button" class="button is-small is-link is-light" (click)="onCategatoryAddCancelBtn()">
                        Cancel
                    </button>
                </div>
            </div>
        </form>

    </div>
</div> -->




<div class="level">
    <div class="level-left">
        <h5 class="title is-5">Product-Details</h5>
    </div>
    <div class="level-right">
        <button class="button is-small is-success" (click)="onAddBtnClick()">Add</button>
    </div>
</div>

<app-table [data]="productDetails" [columns]="columns" (deleteBtnClick)="deleteProduct($event)"></app-table>

<div class="modal" [ngClass]="{'is-active': formModalActive}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form class="box" [formGroup]="productDetailsFormGroup">
            <div class="level-center">
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 form-group">
                        <div class="field">
                            <label class="label is-small">Name</label>
                            <div class="control">
                            <input class="input is-small" type="text-area" placeholder="product name"
                                [formControlName]="'name'" />
                        </div>
                            
                        </div>
                    </div>


                <div [formGroupName]="'category'">
                    <div class="col-xs-12 col-md-6 form-group">
                        <div class="field">
                            <label class="label is-small">Category</label>
                            <select class="form-control my-input" [formControlName]="'id'">
                                <option *ngFor="let i of categorys" [ngValue]="i.id">
                                    {{i.name}}
                                </option>
                            </select>
                          <p> add your own category </p>   <button class="button is-small is-success" ><i class="fa fa-plus"></i>
                              </button> 
                        </div>
                    </div>
                </div>
            </div>

            <div class ="row">
                <div [formGroupName]="'brand'">
                    <div class="col-xs-12 col-md-6 form-group">
                        <div class="field">
                            <label class="label is-small">brand</label>
                            <select class="form-control my-input" [formControlName]="'id'">
                                <option *ngFor="let i of brands" [ngValue]="i.id">
                                    {{i.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div [formGroupName]="'vendor'">
                    <div class="col-xs-12 col-md-6 form-group">
                        <div class="field">
                            <label class="label is-small">Vendor</label>
                            <select class="form-control my-input" [formControlName]="'id'">
                                <option *ngFor="let i of vendors" [ngValue]="i.id">
                                    {{i.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class ="row">
                <div class="col-xs-12 col-md-6 form-group">
                    <div class="field">
                        <label class="label is-small">barCode</label>
                        <div class="control">
                            <input class="input is-small" type="text" placeholder="barCode"
                                [formControlName]="'barCode'" />
                        </div>
                        <p class="help is-danger"
                            *ngIf="!productDetailsFormGroup.get('barCode').untouched && !productDetailsFormGroup.get('mfgDate').valid">
                            mfg date is not valid
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <div class="field">
                        <label class="label is-small">mfgDate</label>
                        <div class="control">
                            <input class="input is-small" type="date" placeholder="mfgDate"
                                [formControlName]="'mfgDate'" />
                        </div>
                        <p class="help is-danger"
                            *ngIf="!productDetailsFormGroup.get('mfgDate').untouched && !productDetailsFormGroup.get('mfgDate').valid">
                            mfg date is not valid
                        </p>
                    </div>
                </div>
            </div>

            <div class ="row">
                <div class="col-xs-12 col-md-6 form-group">

                    <div class="field">
                        <label class="label is-small">expDate</label>
                        <div class="control">
                            <input class="input is-small" type="date" placeholder="expDate"
                                [formControlName]="'expDate'" />
                        </div>
                        <p class="help is-danger"
                            *ngIf="!productDetailsFormGroup.get('expDate').untouched && !productDetailsFormGroup.get('expDate').valid">
                            mfg date is not valid
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <div class="field">
                        <label class="label is-small">Quantity</label>
                        <div class="control">
                            <input class="input is-small" type="text-area" placeholder="quantity"
                                [formControlName]="'qty'" />
                        </div>
                        <p class="help is-danger"
                            *ngIf="!productDetailsFormGroup.get('qty').untouched && !productDetailsFormGroup.get('qty').valid">
                            mfg date is not valid
                        </p>
                    </div>
                </div>
            </div>
            <div class ="row">

                <div class="col-xs-12 col-md-6 form-group">

                    <div class="field">
                        <label class="label is-small">Unit</label>
                        <div class="control">
                            <input class="input is-small" type="text-area" placeholder="unit"
                                [formControlName]="'unit'" />
                        </div>
                        <p class="help is-danger"
                            *ngIf="!productDetailsFormGroup.get('unit').untouched && !productDetailsFormGroup.get('unit').valid">
                            mfg date is not valid
                        </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 form-group">

                    <div class="field">
                        <label class="label is-small">costRate</label>
                        <div class="control">
                            <input class="input is-small" type="number" placeholder="costRate"
                                [formControlName]="'costRate'" />
                        </div>
                        <p class="help is-danger"
                            *ngIf="!productDetailsFormGroup.get('costRate').untouched && !productDetailsFormGroup.get('costRate').valid">
                            Rate should be in number
                        </p>
                    </div>
                </div>
            </div>


            <div class ="row">

                <div class="col-xs-12 col-md-6 form-group">

                    <div class="field">
                        <label class="label is-small">ProfitMargin</label>
                        <div class="control">
                            <input class="input is-small" type="text-area" placeholder="profitMargin"
                                [formControlName]="'profitMargin'" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 form-group">


                    <div class="field">
                        <label class="label is-small">SellRate</label>
                        <div class="control">
                            <input class="input is-small"
                                [disabled]="productDetailsFormGroup.get('profitMargin').touched" type="text-area"
                                placeholder="selling Rate" [formControlName]="'sellRate'" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="field is-grouped ">
                <div class="control">
                    <button type="button" class="button is-small is-link"(click)="onFormSubmitBtnClick(productDetailsFormGroup.valid)">
                        Submit
                    </button>
                </div>
                <div class="control">
                    <button type="button" class="button is-small is-link is-light" (click)="onFormCancelBtnClick()">
                        Cancel
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h5 class="title is-5">Are you sure to delete</h5>
            <div class="buttons">
                <button type="button" class="button is-small is-link">Yes</button>
                <button type="button" class="button is-small is-link is-light">No</button>
            </div>
        </div>
    </div>
</div>